<div class="row d-flex flex-column p-4 border-top border-bottom">
    <% if(user.libraries.length > 0) { %> 
        <% user.libraries.forEach((library) => { %>
            <div class="d-flex flex-column bg-dark text-light p-2 rounded mb-2
                border-secondary border">
                <h3 class="mb-0 mt-2"><%= library.name %></h3>
                <hr class="mt-1 mb-1">
                <p class="mb-1 mt-1"><%= library.description %></p>
                <p><span class="badge bg-primary"><%= library.books.length %></span> books</p>
                <div class="row justify-content-between">
                    <div class="col-6">
                        <a href="/library?libraryId=<%= library.id %>" class="btn btn-primary w-25">Open</a>
                    </div>
                    <div class="col-2">
                        <a href="/library/delete/<%= library.id %>" class="btn btn-outline-danger w-100">Delete</a>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <h3 class="text-center text-secondary">You have no libraries yet</h3>
    <% } %>
</div>
