<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <title><%= book.title %> | Skalver</title>
		<meta name="description" content="Skalver reading page"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body id="page_container_reader">
        <%- include("../partials/read-modal-editbook.ejs", {book: book}) %>
        <%- include("../partials/read-modal-createchapter.ejs", {book: book}) %>
        <%- include("../partials/read-sidepanel.ejs", {book: book})%>
        <div id="reader_viewport_container d-flex">
            <%- include("../partials/read-viewport.ejs", {book: book, nextChapter: nextChapter, prevChapter: prevChapter}) %>
        </div>

        <div id="editor_buttongroup">
            <button id="editor_save" class="btn btn-success hidden">Save</button>
            <button id="editor_toggle">
                <i id="editor_toggle_icon" class="bi bi-pencil-square"></i>
            </button>
        </div>

        <div id="cover_reader" class="fixed-top vh-100 vw-100"></div>
        <script>
            <% if(wallpaper && wallpaper.toString().trim() != "") { %>
                   const background = document.querySelector("#page_container_reader");
                   background.style.backgroundImage = `url("<%=wallpaper%>")`;
                   background.style.backgroundSize = "cover";
            <% } %>
            let activeChapter = <%- JSON.stringify(chapter) %>
            let parentBook = <%- JSON.stringify(book) %>
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
	</body>
</html>
