<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <title><%= book.title %> | Skalver</title>
		<meta name="description" content="Skalver reading page"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style>
            .hidden {
                display: none;
            }
            #reader_page_markdown {
                white-space: pre-wrap;
            }
        </style>
	</head>

	<body>
        <header>
            <button><a href="/dashboard">Go Back</a></button>
            <p><%= book.title %> by <%= book.author %> | <%= chapterNumber %>: <%= chapter.name %></p>
        </header>
        <main>
            <button id="reader_edit">Edit</button>
            <button id="reader_save">Save Changes</button>
            <div id="reader_page" style="width: 60rem; margin: auto; border: 2px solid black; padding: 1rem;">
                <div id="reader_page_content">
                    <%- htmlOutput %>
                </div>
                <div id="reader_page_markdown" class="hidden">
                    <textarea id="reader_editor_textarea" cols="80" rows="40" style="resize: none">
                    </textarea>
                </div>
            </div>
        </main>
        <a href="<%= prevChapter %>">Prev</a>
        <a href="<%= nextChapter %>">Next</a>
        <script>
            let activeChapter = <%- JSON.stringify(chapter) %>
        </script>
        <script src="/js/app.js"></script>
	</body>
</html>

